ve
*.log
bin/abigen
bin/bootnode
bin/clef
bin/ethkey
bin/evm
bin/examples
bin/faucet
bin/geth
bin/global-store
bin/mimegen
bin/p2psim
bin/puppeth
bin/repo
bin/rlpdump
bin/simulations
bin/swarm
bin/swarm-smoke
bin/swarm-snapshot
bin/wnode
